* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #F4F4F4;
}

.wrapper {
    box-shadow: 0px 12px 20px -5px #999999;
    width: 300px;
    height: 500px;
    margin: 80px auto;
    background-color: white;

}

.screen {
    width: 260px;
    height: 440px;
    margin: 30px 20px;
    position: absolute;
}

.nav-bar {
    height: 27px;
}

.btn-back {
    float: left;
}

.btn-search {
    float: right;
}

.inner-content {
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 7%;
    position: relative;
}

.inner-content img {
    box-shadow: 0px 12px 20px -5px #999999;
    margin: 0px auto;
    height: 90px;
    width: 90px;
    border: 6px solid #47484F;
    border-radius: 50%;
    display: block;
}

.restaurant-name {
    display: block;
    margin: 20px 0 30px 0;
    text-align: center;
}

.table-parameters {
    text-align: center;
}

.table-for {
    font-size: 0.9em;
}

.toggle-table {
    /*border: 1px dotted black;*/
    margin: 20px 0 10px 0;
}

.toggle-table-minus, .toggle-table-number, .toggle-table-plus {
    display: inline;
}

.toggle-table-minus, .toggle-table-plus {
    /*border: 1px solid red;*/
    margin-top: 15px;
    font-size: 25px;
}

.toggle-table-minus {
    float: left;
    margin-left: 40px;
}

.toggle-table-plus {
    float: right;
    margin-right: 40px;
}

.toggle-table-number {
    /*border: 1px solid blue;*/
    margin-top: 10px;
    font-size: 50px;
}

.choose-date {
    display: block;
    margin-bottom: 10px;
}


.date-display {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.btn-confirm {
    box-shadow: 0px 12px 30px -5px #999999;
    color: white;
    background-color: #47484F;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn-confirm p {
    padding: 0 auto;
    line-height: 45px;
    text-align: center;
}
