* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #F4F4F4;
}

.wrapper {
    box-shadow: 0px 12px 20px -5px #999999;
    width: 300px;
    height: 500px;
    margin: 80px auto;
    background-color: white;

}

.screen {
    border: 1px solid yellow;
    width: 260px;
    height: 440px;
    margin: 30px 20px;
    position: absolute;
}

.nav-bar {
    border: 1px solid red;
    height: 27px;
}

.btn-back {
    float: left;
}

.btn-search {
    float: right;
}

.inner-content {
    border: 1px solid blue;
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 7%;
    position: relative;
}

.inner-content img {
    margin: 0px auto;
    height: 90px;
    width: 90px;
    border: 6px solid #47484F;
    border-radius: 50%;
    display: block;
}

.restaurant-name {
    margin: 5px auto 5px auto;
}

.btn-confirm {
    color: white;
    background-color: #47484F;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn-confirm p {
    padding: 0 auto;
    line-height: 45px;
    text-align: center;
}
