* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 1200px;
    height: 720px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
}

.wrapper {
    /*overflow: hidden;*/
}

.frame {
    /*border: 1px solid yellow;*/
    box-shadow: 0 0 0 2000px rgba(0,0,0,.6);
    width: 800px;
    height: 600px;
    margin: 0px auto;
    margin-top: 80px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.city-name {
    float: left;
    margin: 27% 0 0 20px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    width: 50px;
}

.side-container {
    float: right;
    width: 280px;
    height: 100%;
    background-color: white;
    position: relative;
}

.content {
    margin: 40px 40px 0 30px;
}

.content-title {
    display: block;
    margin-bottom: 10px;
}

.content-statistic {
    display: block;
    margin-bottom: 40px;
    font-size: 0.9em;
    color: #24BCE9;
}

.content-body {
    color: grey;
    line-height: 25px;
}

.side-container-background {
    height: 150px;
    width: 100%;
    margin-left: 30px;
    background-image: url(../img/new-york-silhouette.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.side-footer {
    /*border: 1px dashed red;*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.side-footer-square1, .side-footer-square2, .side-footer-square3, .side-footer-square4 {
    width: 70px;
    line-height: 70px;
    display: inline-block;
}

.side-footer-square1 {
    background-image: url(../img/side-footer/central-park.jpg);
    background-size: 100% 100%;
}

.side-footer-square1-content {
    color:transparent;
    background-color: purple;
    opacity: 0.6;
}

.side-footer-square2 {
    background-image: url(../img/side-footer/empire-state-building.jpg);
    background-size: 100% 100%;
}

.side-footer-square2-content {
    color:transparent;
    background-color: purple;
    opacity: 0.6;
}

.side-footer-square3 {
    background-image: url(../img/side-footer/statue-of-liberty.jpg);
    background-size: 100% 100%;
}

.side-footer-square3-content {
    color:transparent;
    background-color: purple;
    opacity: 0.6;
}

.side-footer-square4 {
    background-color: #222629;
    padding-left: 20px;
    color: #5D5F62;
}

footer {
    /*border: 2px dotted cyan;*/
    clear: left;
    width: 490px;
    border-top: 2px solid grey;
    line-height: 70px;
    margin: 30px 0 0 30px;
    position: absolute;
    bottom: 0;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}
