* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
    background-color: #DAE2EB;
}

.block-1, .block-2, .block-3 {
    margin: 10% 3%;
    width: 450px;
    height: 800px;
    background-color: grey;
    display: inline-block;
    position: relative;
}

/*.author {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}*/

/*.title {
    text-transform: uppercase;
    font-size: 52px;
    color: white;
}*/

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
